/* 全局样式表 */
body, html, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  /* min-width: 1366px; */
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 13px;
}

.el-table {
  margin-top: 15px;
}

/* 解决级联选择器高度问题 */
.el-cascader-panel {
  height: 300px;
}